/* @keyframes indicate-bar{
    from{background-color: white}
    to{background:linear-gradient(to left, #ef506d 0%, #f9ab4b 100%);}
} */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background: url(../image/background.png) no-repeat;
    background-size: 100%,100%;
    overflow: hidden;
}

.box-body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77)
}

.card{
    padding: 10px;
}

.card-center{
    position: absolute;
    left: 24%;
    top:25%;
    width: 52%;
    height: 52%;
    transform: scale(1,1);
    background-color: #f2f9ff;
    border-radius: 20px;
    z-index: 999;
}

.card-beside{
    position: absolute;
    top:24.5%;
    width: 52%;
    height: 52%;
    /* width: 900px;
    height: 486px; */

    transform: scale(0.8,0.8);
    background-color: #f2f9ff;
    border-radius: 20px;
}
.card-beside-left{
    left: -26%;
}
.card-beside-right{
    left: 74%;
}

.card-beside-hidden-right{
    left: 100%;
}
.card-beside-hidden-left{
    left: -52%;
}
.box-arrow{
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: 80px;
    width: 80px;
    z-index: 1000;
    transition: background;
    transition-duration: 0.5s;    /* box-shadow:0 0 4px;  */
}

.box-arrow:hover{
    background: orange;
}

.box-arrow img{
    position: absolute;
    left: 25px;
    top: 25px;
}

.arrow-left{
    left: 14%;
    top: 46%;
}

.arrow-right{
    right: 14%;
    top: 46%;
}

.box-indicate-bar{
    position: absolute;
    width: 50%;
    left: 28%;
    top: 85%;
}
.indicate-bar{
    float: left;
    height: 2px;
    width: 12%;
    background: white;
    margin-left: 7%;
    list-style: none;
}

.bar-active{
    background:linear-gradient(to left, #ef506d 0%, #f9ab4b 100%);
}

.clr-transition{
    transition: none;
}

#card-info{
    background-color: #f2f9ff;
}
#card-news{
    background-color: red;
}
#card-project{
    background-color: green;
}
#card-tools{
    background-color: orange;
}

.scroll-transition{
    transition: transform left;
    transition-duration: 1s;
}

.card-capital{
    font-family: fzzdh;
    font-size: 2vw;
}

#card-capital-info{
    position: absolute;
    top: 32%;
    left: 36%;
    background: linear-gradient(to left, #ef506d 0%, #f9ab4b 100%);
    -webkit-background-clip: text;
    color: transparent;
}


/* search-box */
#box-search-info{
    position: absolute;
    top: 52%;
    left: 20%;
    /* border: 1px solid; */
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 36px;
    background: white;
    border-radius: 18px;
}
.search-input{
    width: 80%;
    height: 100%;
    float: left;
    border-radius: 18px;
    outline: none;
    padding-left: 1em;
}
.search-btn{
    width:20%;
    height: 100%;
    background: linear-gradient(to left, #ef506d 0%, #f9ab4b 100%);
    border-radius: 18px;
    color: white;
    float: left;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 0.18em;
    cursor: pointer;
}
.search-btn:hover{
    font-size: 1.4vw;
}
