.info-transition{
    
    /* transition: left 1s;
    transition: transform 1s;
    transition: background-size 1.2s; */
    transition: all 1s;
}
.box-body-info{
    background-image: linear-gradient(156deg, #ef506d 0%, #f9ab4b 100%);
    position: fixed;
    background-size:100% 100%;
}
.card-info-full{
    background-color: rgba(0, 0, 0, 0);
    background-size: 26% auto;
    width: 100%;
    height: 100%;
    top:2vh;
    left: 0;
}
/* .box-search-info{

} */
.box-search-info-full{
    left: 32%;
    top:20%;
    width: 36%;
}
