.box-body-tools{
    background-image: linear-gradient(156deg, #f093fb 0%, #f5576c 100%);
    position: fixed;
    background-size:100% 100%;
}

.card-tools-full{
    background-color: rgba(0, 0, 0, 0);
    background-size: 26% auto;
    width: 100%;
    height: 100%;
    top:2vh;
    left: 0;
    transition: transform 1s,background-size 1.5s;
}